.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
