.bagel {
  display: flex;
  position: relative;
}

.bagel > div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  touch-action: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}

.empty {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: grab;
}

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 100%;
  background-color: #1a202c;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}
